tensorflow==2.11.0
tensorflow-estimator==2.11.0
tensorflow-io-gcs-filesystem==0.31.0
scikit-learn==1.0.2
scikit-learn-intelex==2021.20221004.171807
scipy==1.9.1
pandas==1.4.4
numpy==1.21.5
keras==2.11.0
Keras-Applications==1.0.8
imbalanced-learn==0.10.1
imblearn==0.0
tqdm==4.66.1
torch
argparse
h5py
matplotlib
